<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <title>Sự kiện</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <!-- Favicon -->
    <link th:href="@{img/favicon.ico}" rel="icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Poppins:wght@600;700&display=swap"
            rel="stylesheet"
    />

    <!-- Icon Font Stylesheet -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
            rel="stylesheet"
    />
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
            rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <link th:href="@{lib/animate/animate.min.css}" rel="stylesheet" />
    <link th:href="@{lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link th:href="@{css/style.css}" rel="stylesheet" />
  </head>

  <body>
    <!-- Spinner Start -->
    <div
      id="spinner"
      class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
    >
      <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->

    <!-- Topbar Start -->
    <div th:replace="~{/web/fragments.html:: topbar}"></div>
    <!-- Topbar End -->

    <!-- Navbar Start -->
    <div th:replace="~{/web/fragments.html :: navbar}"></div>
    <!-- Navbar End -->

    <!-- Page Header Start -->
    <div
            class="container-fluid  py-5 mb-5 wow fadeIn"
            data-wow-delay="0.1s"
    >
      <div class="container text-center py-5">
        <h1 class="display-4 text-dark animated slideInDown mb-4">Sự kiện</h1>
      </div>
    </div>
    <!-- Page Header End -->

    <!-- Features Start -->
    <div class="container-xxl py-5">
      <div class="container">
        <div class="row g-5">
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="border-start border-5 border-primary ps-4 mb-5">
              <h1 class="display-6 mb-0">
                Tri ân 20 năm thành lập
              </h1>
            </div>
            <p class="mb-5">
              Nhân dịp kỷ niệm 20 năm thành lập,
              Trung tâm Dạy tiếng Cyberudition xin gửi lời tri ân sâu sắc đến tất cả các học viên,
              giảng viên và đối tác đã đồng hành cùng chúng tôi trong suốt chặng đường vừa qua.
            </p>
            <div class="row gy-5 gx-4">
              <button type="button" class="btn btn-danger" style="width: 200px">Xem thêm</button>
            </div>
          </div>
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
            <div
              class="position-relative overflow-hidden ps-5 pt-5 h-100"
              style="min-height: 400px"
            >
              <img
                class="position-absolute w-100 h-100"
                src="img/feature.jpg"
                alt=""
                style="object-fit: cover"
              />
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="row g-5">
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="border-start border-5 border-primary ps-4 mb-5">
              <h1 class="display-6 mb-0">
                Tri ân 20 năm thành lập
              </h1>
            </div>
            <p class="mb-5">
              Nhân dịp kỷ niệm 20 năm thành lập,
              Trung tâm Dạy tiếng Cyberudition xin gửi lời tri ân sâu sắc đến tất cả các học viên,
              giảng viên và đối tác đã đồng hành cùng chúng tôi trong suốt chặng đường vừa qua.
            </p>
            <div class="row gy-5 gx-4">
              <button type="button" class="btn btn-danger" style="width: 200px">Xem thêm</button>
            </div>
          </div>
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
            <div
                    class="position-relative overflow-hidden ps-5 pt-5 h-100"
                    style="min-height: 400px"
            >
              <img
                      class="position-absolute w-100 h-100"
                      src="img/feature.jpg"
                      alt=""
                      style="object-fit: cover"
              />
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="row g-5">
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="border-start border-5 border-primary ps-4 mb-5">
              <h1 class="display-6 mb-0">
                Tri ân 20 năm thành lập
              </h1>
            </div>
            <p class="mb-5">
              Nhân dịp kỷ niệm 20 năm thành lập,
              Trung tâm Dạy tiếng Cyberudition xin gửi lời tri ân sâu sắc đến tất cả các học viên,
              giảng viên và đối tác đã đồng hành cùng chúng tôi trong suốt chặng đường vừa qua.
            </p>
            <div class="row gy-5 gx-4">
              <button type="button" class="btn btn-danger" style="width: 200px">Xem thêm</button>
            </div>
          </div>
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
            <div
                    class="position-relative overflow-hidden ps-5 pt-5 h-100"
                    style="min-height: 400px"
            >
              <img
                      class="position-absolute w-100 h-100"
                      src="img/feature.jpg"
                      alt=""
                      style="object-fit: cover"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Features End -->



    <!-- Footer Start -->
    <div th:replace="~{/web/fragments.html :: footer}"></div>
    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"
      ><i class="bi bi-arrow-up"></i
    ></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{lib/wow/wow.min.js}"></script>
    <script th:src="@{lib/easing/easing.min.js}"></script>
    <script th:src="@{lib/waypoints/waypoints.min.js}"></script>
    <script th:src="@{lib/owlcarousel/owl.carousel.min.js}"></script>

    <!--Icon-->
    <script src="https://kit.fontawesome.com/aa540ef16a.js" crossorigin="anonymous"></script>

    <!-- Template Javascript -->
    <script th:src="@{js/main.js}"></script>
    <script th:src="@{js/solana-wallet-adapter.js}"></script>

  </body>
</html>
